@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body,
p,
button,
input {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Pretendard-Regular";
}

.allWrap {
  width: 100%;
  height: 100%;
  position: relative;
  isolation: isolate;
}

.allWrap::after {
  content: "";
  position: absolute;
  background: #cfdeff;
  z-index: -1;
  inset: 0;
  opacity: 0.4;
}

.allWrap.pic1 {
  background: url("./img/pic1.png") no-repeat 0 0;
  background-size: cover;
}

.allWrap.pic2 {
  background: url("./img/pic2.png") no-repeat 0 0;
  background-size: cover;
}

.allWrap.pic3 {
  background: url("./img/pic3.png") no-repeat 0 0;
  background-size: cover;
}

.hide {
  display: none;
}

#time {
  position: absolute;
  top: 100px;
  left: 50%;
  width: 600px;
  height: 200px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transform: translate(-50%, 0);
  text-align: center;
  box-shadow: 5px 5px 20px #bbb9b9;
}

#time p {
  font-size: 60px;
  line-height: 200px;
  font-weight: 900;
}

#loginBox {
  position: absolute;
  top: 320px;
  left: 50%;
  width: 600px;
  height: 100px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transform: translate(-50%, 0);
  text-align: center;
}

#loginBox p {
  font-size: 20px;
  line-height: 100px;
  font-weight: 700;
}

#loginBox .logout {
  height: 100px;
  line-height: 100px;
}

#loginBox .logout input {
  height: 30px;
  border-radius: 5px;
  background: #fff;
  border: none;
  padding: 0 20px;
}

#loginBox .logout button {
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 5px;
  border: none;
}

#toDo {
  width: 600px;
  position: absolute;
  top: 500px;
  left: 50%;
  transform: translate(-50%, 0);
}

#toDo input {
  width: 100%;
  border: none;
  background: none;
  border-bottom: 2px solid #333;
  font-size: 20px;
  padding: 5px 10px;
}

#toDo ul {
  padding: 0;
}

#toDo ul li {
  padding: 0;
  padding-left: 10px;
  list-style: none;
  font-size: 15px;
  line-height: 20px;
  border-bottom: 1px dotted #333;
  width: 100%;
  position: relative;
}

#toDo ul li + li {
  margin-top: 4px;
}

#toDo ul li span {
  display: block;
  width: calc(100% - 20px);
  word-break: break-all;
}

#toDo ul li button {
  margin-left: 10px;
  padding: 2px 4px;
  position: absolute;
  bottom: 50%;
  right: 0;
  background: none;
  border: none;
  transform: translate(0, 50%);
}

.well {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}

.well span + span {
  margin-left: 10px;
}

.fadeout {
  transition: opacity 400ms;
  opacity: 0;
}
